:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --back-ground-color: #f5f4fa;
}
/* цвет основного текста серый темнее   #212121 
   вторичный цвет текста серый светлее  #757575 
   акцент голубой                      #2196F3 
   вторичный цвет фона                 #F5F4FA  */

body {
  color: var(--primary-text-color);
}

/* Site nav */
.logo {
  color: #000000;
}
.logo:hover,
.logo:focus,
.logo:active {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/*  section */
.hero-title {
  color: #ffffff;
}
.button {
  color: #ffffff;
  background-color: var(--accent-color);
}
.filter-button {
  color: var(--title-text-color);
  background-color: var(--back-ground-color);
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: #ffffff;
  background-color: var(--accent-color);
}
.section-title {
  color: var(--title-text-color);
}
.features .title,
.team .member,
.portfolio .title {
  color: var(--title-text-color);
}
